<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"default"}} -->
<main class="wp-block-group"><!-- wp:group {"tagName":"section","align":"full","className":"sb-band","layout":{"type":"constrained","contentSize":"720px"}} -->
<section class="wp-block-group alignfull sb-band"><!-- wp:post-featured-image {"aspectRatio":"16/9","style":{"border":{"radius":"10px"}}} /-->

<!-- wp:post-terms {"term":"category","style":{"typography":{"textTransform":"uppercase","letterSpacing":"0.15em"},"spacing":{"margin":{"top":"var:preset|spacing|70"}}},"textColor":"muted","fontSize":"x-small"} /-->

<!-- wp:post-title {"level":1,"fontSize":"huge"} /-->

<!-- wp:post-content {"style":{"spacing":{"margin":{"top":"var:preset|spacing|40"}}},"layout":{"type":"constrained"}} /--></section>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
